// COLOR VARIABLES
$primary: #008cff;
$primary-light: #b8d7ff;
$secondary: #333;
$secondary-light: #ddd;
$danger: #ff0000;
$danger-light: #ffb0b0;
$success: #008300;
$success-light: #77d377;
$white: #fff;
$link-color: #cbd6e2;
$link-hover-color: #0091ae;