/* http: //meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* container*/
.container {
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
}
.container .row {
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}
.container .row .col-xl-1 {
  flex: 8.3333333333%;
  padding: 1%;
}
.container .row .col-xl-2 {
  flex: 16.6666666667%;
  padding: 1%;
}
.container .row .col-xl-3 {
  flex: 25%;
  padding: 1%;
}
.container .row .col-xl-4 {
  flex: 33.3333333333%;
  padding: 1%;
}
.container .row .col-xl-5 {
  flex: 41.6666666667%;
  padding: 1%;
}
.container .row .col-xl-6 {
  flex: 50%;
  padding: 1%;
}
.container .row .col-xl-7 {
  flex: 58.3333333333%;
  padding: 1%;
}
.container .row .col-xl-8 {
  flex: 66.6666666667%;
  padding: 1%;
}
.container .row .col-xl-9 {
  flex: 75%;
  padding: 1%;
}
.container .row .col-xl-10 {
  flex: 83.3333333333%;
  padding: 1%;
}
.container .row .col-xl-11 {
  flex: 91.6666666667%;
  padding: 1%;
}
.container .row .col-xl-12 {
  flex: 100%;
  padding: 1%;
}
@media only screen and (max-width: 768px) {
  .container .row .col-md-1 {
    flex: 8.3333333333%;
    padding: 1%;
  }
  .container .row .col-md-2 {
    flex: 16.6666666667%;
    padding: 1%;
  }
  .container .row .col-md-3 {
    flex: 25%;
    padding: 1%;
  }
  .container .row .col-md-4 {
    flex: 33.3333333333%;
    padding: 1%;
  }
  .container .row .col-md-5 {
    flex: 41.6666666667%;
    padding: 1%;
  }
  .container .row .col-md-6 {
    flex: 50%;
    padding: 1%;
  }
  .container .row .col-md-7 {
    flex: 58.3333333333%;
    padding: 1%;
  }
  .container .row .col-md-8 {
    flex: 66.6666666667%;
    padding: 1%;
  }
  .container .row .col-md-9 {
    flex: 75%;
    padding: 1%;
  }
  .container .row .col-md-10 {
    flex: 83.3333333333%;
    padding: 1%;
  }
  .container .row .col-md-11 {
    flex: 91.6666666667%;
    padding: 1%;
  }
  .container .row .col-md-12 {
    flex: 100%;
    padding: 1%;
  }
}
@media only screen and (max-width: 600px) {
  .container .row {
    flex-direction: column;
  }
  .container .row .col-sm-1 {
    flex: 8.3333333333%;
    padding: 1%;
  }
  .container .row .col-sm-2 {
    flex: 16.6666666667%;
    padding: 1%;
  }
  .container .row .col-sm-3 {
    flex: 25%;
    padding: 1%;
  }
  .container .row .col-sm-4 {
    flex: 33.3333333333%;
    padding: 1%;
  }
  .container .row .col-sm-5 {
    flex: 41.6666666667%;
    padding: 1%;
  }
  .container .row .col-sm-6 {
    flex: 50%;
    padding: 1%;
  }
  .container .row .col-sm-7 {
    flex: 58.3333333333%;
    padding: 1%;
  }
  .container .row .col-sm-8 {
    flex: 66.6666666667%;
    padding: 1%;
  }
  .container .row .col-sm-9 {
    flex: 75%;
    padding: 1%;
  }
  .container .row .col-sm-10 {
    flex: 83.3333333333%;
    padding: 1%;
  }
  .container .row .col-sm-11 {
    flex: 91.6666666667%;
    padding: 1%;
  }
  .container .row .col-sm-12 {
    flex: 100%;
    padding: 1%;
  }
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  flex-direction: row;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar div {
  visibility: collapse;
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .navbar div {
    visibility: visible;
    background-color: #ffffff;
    padding: 1px 10px;
    flex-direction: row;
  }
  .navbar a {
    visibility: collapse;
  }
}

.btn {
  padding: 5px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.btn.btn-primary {
  color: #008cff;
  border-color: #008cff;
  background-color: #b8d7ff;
}
.btn.btn-secondary {
  color: #333;
  border-color: #333;
  background-color: #ddd;
}
.btn.btn-light {
  color: #ddd;
  border-color: #ddd;
  background-color: #333;
}

/*# sourceMappingURL=framework.css.map */
