@import "reset";

// definition of variables
$width: 100%;
$col-size: $width / 12;
$primary: #008cff;
$primary-bg: #b8d7ff;
$secondary: #333;
$light: #ddd;
$white: #fff;

/* container*/
.container {
  padding: 1%;
  width: $width;
  box-sizing: border-box;

  .row {
    // width: $width;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;


    // for larger screens above 768px
    @for $i from 1 through 12 {
      .col-xl-#{$i} {
        // width: $col-size * $i;
        flex: $col-size * $i;
        padding: 1%;
      }
    }

    // for medium sized screens
    @media only screen and (max-width: 768px) {
      @for $i from 1 through 12 {
        .col-md-#{$i} {
          flex: $col-size * $i;
          padding: 1%;
        }
      }
    }

    // for small sized screens
    @media only screen and (max-width: 600px) {
      flex-direction: column;       
      @for $i from 1 through 12 {
        .col-sm-#{$i} {
          flex: $col-size * $i;
          padding: 1%;
        }
      }
    }
  }
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  flex-direction: row;
    a {
      color: white;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      &:hover {
        background-color: #ddd;
        color: black;
      }  
    }
    div{
      visibility: collapse;   
    }  
  @media screen and (max-width: 600px) {
      flex-direction: column;
      div{
        visibility: visible;
        background-color: #ffffff;
        padding: 1px 10px;
        flex-direction: row;        
      }
      a{
        visibility: collapse;
      }
  }
  
}

.btn{
  padding: 5px;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  &.btn-primary{
    color: $primary;
    border-color: $primary;
    background-color:$primary-bg;
  }
  &.btn-secondary{
    color: $secondary;
    border-color:$secondary;
    background-color:$light;
  }
  &.btn-light{
    color: $light;
    border-color:$light;
    background-color: $secondary;
  }
}