.logo {
  justify-content: center;

  div {
    h1 {
      font-size: xx-large;
    }
  }
}

.news-article {
  color: white;
  padding: 1%;
  box-sizing: border-box;

  div {
    img {
      width: 100%;
    }
    .text-box {
      padding: 20px;
      background-color: #ff7a59;

      h1 {
        font-size: x-large;
        padding-bottom: 5px;
      }
      h3 {
        font-size: large;
      }
    }
  }
}

.subscribe-box {
  height: 540px;
  background-image: linear-gradient(to right, #f2555b, #ff7a59);
  color: white;

  .subscribe-info {
    align-items: center;
    padding: 64px;
    div {
      h1 {
        font-size: xx-large;
        padding: 16px 0px;
        line-height: 40px;
      }
      p {
        font-size: larger;
        padding: 16px 0px;
      }
    }
  }
  .subscribe-form {
    padding: 48px 48px 48px 0px;

    button {
      height: 36px;
    }

    p {
      font-size: smaller;
      line-height: 20px;
    }

    .hr {
      p {
        text-align: center;
      }
      hr {
        background-color: white;
        border-color: transparent;
        height: 0.5px;
      }
    }
  }
}

.bts {
  margin-bottom: 20px;
}
