@import "colors";

.logo {
  justify-content: center;

  div {
    h1 {
      font-size: xx-large;
    }
  }
}

.btn {
  border-radius: 5px;

  &.btn-danger {
    color: $white;
    border-color: $white;
    background-color: $danger-light;

    &:hover {
      color: $white;
      border-color: $white;
      background-color: $danger;
    }
  }
}

header div.container {
  border-bottom: $secondary solid 1px;
}

/* Style for the top navigation bar */
.navbar {
  // display: flex;
  background-color: $white;

  // flex-direction: row-reverse;
  a {
    color: $secondary;
    font-weight: bold;
    font-size: 0.88em;

    // padding: 14px 20px;
    // text-decoration: none;
    // text-align: center;
    &:hover {
      background-color: $white;
      color: $secondary-light;
    }
  }

  div {
    visibility: collapse;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    div {
      visibility: visible;
      background-color: $white;
      padding: 1px 10px;
      flex-direction: row;
    }

    a {
      visibility: collapse;
    }
  }
}

// CARDS
.card {
  padding: 6% 2%;
  // margin-left: 4%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  background-color: $secondary-light;
  cursor: pointer;
  font-size: 0.85em;

  p {
    padding-bottom: 2%;
    line-height: 1.5;
  }

  span {
    text-transform: uppercase;
  }
}

.aside-head {
  font-size: 0.88em;
  color: $white;
  width: 50%;
}

.desc {
  margin-top: -1%;

  p {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 5%;
  }

  span {
    font-size: 0.85em;
    text-transform: uppercase;
  }

  &.four {
    height: 405px;

    p {
      margin-bottom: 60%;
    }
  }
}

.side-card {
  height: 100%;
  padding: 3%;
  color: $white;
  padding: 15% 5%;
  text-align: center;
  // margin-left: 4%;
  // margin-top: 2.5%;
  // margin-bottom: 2.5%;
  // background-color: $secondary-light;

  p {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5%;
  }

  span {
    font-size: 0.9em;
    // text-transform: uppercase;
  }

  .btn {
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    cursor: pointer;

    &.btn-danger {
      color: $white;
      border-color: $white;
      background-color: $danger-light;

      &:hover {
        color: $white;
        border-color: $white;
        background-color: $danger;
      }
    }
  }
}

.news-article {
  color: white;
  padding: 1%;
  box-sizing: border-box;

  div {
    img {
      width: 100%;
    }

    .text-box {
      padding: 20px;
      background-color: #ff7a59;

      h1 {
        font-size: x-large;
        padding-bottom: 5px;
      }

      h3 {
        font-size: large;
      }
    }
  }
}

.subscribe-box {
  height: 540px;
  background-image: linear-gradient(to right, #f2555b, #ff7a59);
  color: white;

  .subscribe-info {
    align-items: center;
    padding: 64px;

    div {
      h1 {
        font-size: xx-large;
        padding: 16px 0px;
        line-height: 40px;
      }

      p {
        font-size: larger;
        padding: 16px 0px;
      }
    }
  }

  .subscribe-form {
    padding: 48px 48px 48px 0px;

    label {
      padding-bottom: 4px;
    }

    button {
      height: 36px;
    }

    .btn-white {
      margin-top: 18px;
    }

    p {
      font-size: smaller;
      line-height: 20px;
      padding: 10px 0px;
    }

    .hr {
      p {
        text-align: center;
      }

      hr {
        background-color: white;
        border-color: transparent;
        height: 0.5px;
      }
    }
  }
}

.bts {
  margin-bottom: 20px;
}

footer {
  padding-top: 92px;
  background-color: #33475b;
  margin-top: 92px;
  color: white;

  ul {
    li {
      padding: 8px;
      font-size: small;

      b {
        font-weight: 800;
        font-size: medium;
      }

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    height: 35px;
    margin: 10px 0px;
  }

  .center {
    margin: 25px 0px;

    a {
      color: white;
      padding: 8px;
    }
  }

  .flex {
    padding-top: 20px;
  }

  .right {
    a {
      padding: 8px;
    }
  }

  .small-text {
    font-size: smaller;
  }
}